<div class="col-sm-4"></div>

<div class="col-sm-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% flash.each do |key, value| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="form-group">
      <label for="email" class="control-label">
        <%= I18n.t("placeholders.email") %>
      </label>
      <%=
        f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: I18n.t("placeholders.email"),
          class: "form-control"
      %>
    </div>

    <div class="form-group">
      <label for="password" class="control-label">
        <%= I18n.t("placeholders.password") %>
      </label>
      <%=
        f.password_field :password,
          autocomplete: "off",
          placeholder: I18n.t("placeholders.password"),
          class: "form-control"
      %>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">
        <%= I18n.t("buttons.login") %>
      </button>
      <%=
        link_to I18n.t("buttons.sign_up"),
          new_user_registration_path,
          class: "btn btn-info"
      %>
    </div>
  <% end %>
</div>

<div class="col-sm-4"></div>
