<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= comment.user.email %></h5>
    <p class="card-text"><%= comment.content %></p>
  </div>

  <div class="card-footer text-muted text-right">
    <% if policy(comment).update? %>
      <%=
        link_to(
          I18n.t("buttons.edit"),
          edit_post_comment_path(comment.post, comment),
          class: "btn btn-sm btn-light"
        )
      %>
    <% end %>
    <% if policy(comment).destroy? %>
      <%=
        link_to(
          I18n.t("buttons.delete"),
          post_comment_path(comment.post, comment),
          method: :delete,
          data: { confirm: I18n.t("confirm_delete") },
          class: "btn btn-sm btn-light"
        )
      %>
    <% end %>
  </div>
</div>
