<%= form_for [post, comment] do |form| %>
  <% comment.errors.any? && comment.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="card mb-2">    
    <div class="card-body">
      <p class="card-text">
        <div class="form-group">
          <%= form.label :content, class: "form-label" %>
          <%= form.text_area :content, id: :post_content, rows: "3", class: "form-control" %>
        </div>
      </p>
    </div>
    
    <div class="card-footer text-muted text-right">
      <%= form.submit I18n.t("buttons.save"), class: "btn btn-sm btn-primary" %>
      <% if ["edit", "update"].include?(action_name) %>
        <%= link_to I18n.t("buttons.back"), post_path(post), class: "btn btn-sm btn-light" %>
      <% end %>
    </div>
  </div>
<% end %>
