<div class="col-sm-4"></div>

<div class="col-sm-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="form-group">
      <label for="email" class="control-label">
        <%= I18n.t("placeholders.email") %>
      </label>
      <%=
        f.email_field :email,
          autofocus: true,
          autocomplete: "email",
          placeholder: I18n.t("placeholders.email"),
          class: "form-control"
      %>
    </div>

    <div class="form-group">
      <label for="password" class="control-label">
        <%= I18n.t("placeholders.password") %>
      </label>
      <%=
        f.password_field :password,
          autocomplete: "off",
          placeholder: I18n.t("placeholders.password"),
          class: "form-control"
      %>
    </div>

    <div class="form-group">
      <label for="password_confirmation" class="control-label">
        <%= I18n.t("placeholders.password_confirmation") %>
      </label>
      <%=
        f.password_field :password_confirmation,
          autocomplete: "off",
          placeholder: I18n.t("placeholders.password_confirmation"),
          class: "form-control"
      %>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">
        <%= I18n.t("buttons.confirm") %>
      </button>
      <%= link_to I18n.t("buttons.back"), new_user_session_path, class: "btn btn-light" %>
    </div>
  <% end %>
</div>

<div class="col-sm-4"></div>
