<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between mb-4">
  <%= link_to app_name, root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <div class="navbar-brand">
          <%= current_user.email %>
        </div>
      </li>
      <li class="nav-item">
        <div class="navbar-brand">
          <%= link_to fa_icon("power-off"), destroy_user_session_path, class: "logout-link" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
