<div class="card mb-4">
  <div class="card-header"><%= post.user.email %>  </div>
  
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <% if action_name == "index" %>
      <span class="card-link text-muted"><%= "Comments: #{post.comments.size}" %></span>
    <% end %>
  </div>
  
  <div class="card-footer text-muted text-right">
    <% if action_name == "index" %>
      <%= link_to I18n.t("buttons.show"), post, class: "btn btn-sm btn-light" %>
    <% end %>
    <% if policy(post).update? %>
      <%= link_to I18n.t("buttons.edit"), edit_post_path(post), class: "btn btn-sm btn-light" %>
    <% end %>
    <% if policy(post).destroy? %>
      <%=
        link_to(
          I18n.t("buttons.delete"),
          post_path(post),
          method: :delete,
          data: { confirm: I18n.t("confirm_delete") },
          class: "btn btn-sm btn-light"
        )
      %>
    <% end %>
    <% unless action_name == "index" %>
      <%= link_to I18n.t("buttons.back"), posts_path, class: "btn btn-sm btn-light" %>
    <% end %>
  </div>
</div>
