<% flash.each do |key, value| %>
  <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= render partial: "post", collection: @posts %>

<%= link_to fa_icon("plus"), new_post_path, class: "btn btn-primary floating-action" %>
