<% flash.each do |key, value| %>
  <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= render "post", post: @post %>

<% unless action_name == "index" %>
  <h6>Comments:</h6>
  <%= render partial: "/comments/comment", collection: @post.comments %>
  <%= render "/comments/form", post: @post, comment: @comment %>
<% end %>
