@import "bootstrap";
@import "font-awesome";

.logout-link {
  color: #9d9d9d;
  &:hover {
    color: #f5f5f5;
    text-decoration: none;
  }
}

.field_with_errors {
  input.form-control,
  textarea.form-control {
    border-color: #dc3545;
  }
}

.floating-action {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  right: 24px;
  bottom: 45px;
  position: fixed;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
