<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= app_name %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body class="bg-light">
  <%= render "shared/navbar" %>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-1 col-md-8 offset-md-2">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
